@using Ariana.Logic.Models
@using Ariana.Umbraco.Helpers
@using Ariana.Constants
@inherits UmbracoViewPage<Ariana.Umbraco.CMS.Models.Page>

@{
    Site site = ContentHelper.Instance.GetSite<Site>();
    var head = site.Settings.HtmlInjectors.Head;
    var navigationSettings = site.Settings.NavSettings;
    var backgroundImage = site.BackgroundImage.GetCropUrl(AppSettings.ImageSizes.SiteBackgroundImage_1200x600);

}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/_MetaData.cshtml", Model)
    @Html.Raw(head)
    @Html.RenderCacheBusterCss("/static/css/main.min.css")
</head>

<body>


    @{ Html.RenderPartial("~/Views/Shared/_TopNavigation.cshtml"); }
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>
        </div>

        <div class="navigation-bar">
            @Html.Partial("~/Views/Shared/Navigation.cshtml", navigationSettings)
        </div>*@

    @*<div class="container body-content">

    </div>*@

    @RenderBody()


    @Html.RenderCacheBusterJavaScript("/static/js/main.min.js")
</body>
</html>
