@using Ariana.Umbraco.Helpers
@using Ariana.Umbraco.CMS.Models.MediaTypes

@inherits UmbracoViewPage<Ariana.Umbraco.CMS.Models.Page>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta sanjay="hello"/>
@{
    var content = Model;
    if (!string.IsNullOrWhiteSpace(Model.BrowserDescription))
    {
        <meta name="description" content="@Model.BrowserDescription" />
    }

    <title>@content.BrowserTitle</title>

    //Open Graph Meta Data. See http://ogp.me/ for more information.
    string ogTitle = content.OpenGraphTitle;
    string ogType = content.OpenGraphType;
    string ogUrl = content.OpenGraphUrl;

    <meta property="og:url" content="@ogUrl" />

    if (!string.IsNullOrWhiteSpace(ogTitle))
    {
        <meta property="og:title" content="@ogTitle" />
    }

    if (!string.IsNullOrWhiteSpace(ogType))
    {
        <meta property="og:type" content="@ogType" />
    }

    Image ogImage = content.OpenGraphImage;
    if (ogImage != null)
    {
        <meta property="og:image" content="@ogImage.Url()" />
    }
}